/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

html, body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: radial-gradient(circle at top left, #f0e8f5, #e4ecf7 50%, #dce7f2);
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
